extends base.pug

block div.content
        div.content
            div.section.flex
                h2.titleGrp See all Posts from the list here.

                div.itemsIn.flex
                    div.item
                        img( src="/static/images/img.jpg" alt="Image could not be loaded")
                        h2( onclick="itemClick()") #{postTitle1}
                        span #{postDescription1}

                    div.item
                        img( src="/static/images/img.jpg" alt="Image could not be loaded")
                        h2( onclick="itemClick()") #{postTitle1}
                        span #{postDescription1}

                    div.item
                        img( src="/static/images/img.jpg" alt="Image could not be loaded")
                        h2( onclick="itemClick()") #{postTitle1}
                        span #{postDescription1}